<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
		<connectionStrings>
			<add name="ConcesionariaDB"
				 connectionString="data source=localhost\\SQLEXPRESS;Initial Catalog=PersonasDB;Integrated Security = True;"/>
		</connectionStrings>
    </startup>
</configuration>